@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



.centered-div {
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 15px;
  transform: translate(-50%, -50%);
  background-color: #262626;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-file {
  display: none;
  /* Oculta el input original */
}

.custom-file-upload {
  border: 1px solid #030303;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #0c26bb;
  border-radius: 10px;
}

.custom-file-upload:hover,
.btn-header:hover {
  background-color: #354bc9;
}

.pm-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  max-width: 1400px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.pm-grid-container img {
  width: 100%;
  height: 300px;
  object-fit: contain;
  border-radius: 10px;
  padding: 10px;
  background: #0e0e0e;
}


.hp-container {
  min-height: 100vh;
}

.img-content {
  display: flex;
  justify-content: center;
}

.grid-a {
  width: 100%;
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 0 auto;
  gap: 20px;
}