@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.pixelify-sans {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700px;
  font-style: normal;
}


.centered-div {
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 15px;
  transform: translate(-50%, -50%);
  background-color: #262626;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-height: 90%; /* Prevents the div from exceeding the viewport height */
  max-width: 90%;  /* Prevents the div from exceeding the viewport width */
  overflow-y: auto; /* Enables vertical scrolling if content overflows */
  overflow-x: hidden; /* Optionally hide horizontal scrolling */
}

.input-file {
  display: none;
  /* Oculta el input original */
}

.custom-file-upload {
  border: 1px solid #030303;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #0c26bb;
  border-radius: 10px;
}

.custom-file-upload:hover,
.btn-header:hover {
  background-color: #354bc9;
}

.pm-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  max-width: 1400px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.pm-grid-container img {
  width: 100%;
  height: 300px;
  object-fit: contain;
  border-radius: 10px 10px 0 0;
  padding: 10px;
}

.loader-container  {
  min-width: 100%;
  min-height: 300px;
  object-fit: contain;
  border-radius: 10px;
  background: #0e0e0e;
}


.hp-container {
  min-height: 100vh;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.img-content {
  display: flex;
  justify-content: center;
}

.grid-a {
  width: 100%;
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 0 auto;
  gap: 20px;
}




/* Style the scrollbar track (background) */
.centered-div::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

/* Style the scrollbar thumb (handle) */
.centered-div::-webkit-scrollbar-thumb {
  background-color: #4b5563; /* Dark gray */
  border-radius: 10px; /* Rounded corners */
  border: 3px solid #262626; /* Padding around the thumb */
}

/* Style the scrollbar track (background) */
.centered-div::-webkit-scrollbar-track {
  background-color: #262626; /* Background color of the track */
  border-radius: 10px;
}

/* Optional: Hover effect on scrollbar thumb */
.centered-div::-webkit-scrollbar-thumb:hover {
  background-color: #9ca3af; /* Lighter gray on hover */
}





.centered-bar::-webkit-scrollbar {
  height: 12px; /* Width of the scrollbar */
}

/* Style the scrollbar thumb (handle) */
.centered-bar::-webkit-scrollbar-thumb {
  background-color: #000000; /* Dark gray */
  border-radius: 10px; /* Rounded corners */
  border: 3px solid #000000; /* Padding around the thumb */
}

/* Style the scrollbar track (background) */
.centered-bar::-webkit-scrollbar-track {
  background-color: #141414; /* Background color of the track */
  border-radius: 10px;
}


/* Optional: Hover effect on scrollbar thumb */
.centered-bar::-webkit-scrollbar-thumb:hover {
  background-color: #000000; /* Lighter gray on hover */
}



.video-x {
  top: 250px;
  left: 310px;
  width: 14rem;
  height: 14rem;
}

.tv-background {
  background-image: url('https://res.cloudinary.com/dztz492su/image/upload/v1724429665/image-ai-brush-removebg-5jlx076d_nfgrn9.png'); /* Replace with your image URL */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blurred-text {
  color: white;
  font-size: 1em;
  opacity: 0.7; /* Reduce opacity */
  filter: blur(1px); /* Apply slight blur */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Optional: add a text shadow for better visibility */
}


.tv-container {
  width: 800px; /* Adjust the size of the TV container */
  height: 500px; /* Adjust the height of the TV container */
  background: #333; /* Dark background to mimic an old TV case */
  border-radius: 15px; /* Rounded corners for a retro look */
  box-shadow: inset 0 0 10px #000, 0 10px 20px rgba(0, 0, 0, 0.5); /* Shadow for depth */
  padding: 10px;
  position: relative;
}

.tv-screen {
  width: 100%;
  height: 75%; /* Adjust the height for the screen portion */
  background-color: #111; /* Dark background to mimic an old screen */
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden; /* Hide any overflow from the video */
}

.tv-video {
  width: 100%;
  height: 100%;
  border-radius: 10px; /* Matches the screen's border-radius */
  object-fit: cover; /* Ensure the video covers the entire screen area */
}

.tv-buttons {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.tv-button {
  width: 30px;
  height: 30px;
  background: #444; /* Button color */
  border: none;
  border-radius: 50%;
  box-shadow: 0 4px #222; /* 3D effect */
  cursor: pointer;
}


.tv-button:active {
  box-shadow: 0 2px #111; /* Pressed effect */
  transform: translateY(2px); /* Pressed effect */
}

.gradient-text {
  background: linear-gradient(to top, #800080, #e0b3ff); /* From dark purple to light purple */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.max-w-80 {
  width: 80%;
}

.d {
  background-color: #5d0577;
}



.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-height: 900px;
  max-width: 1200px;
}

.border-a1 {
  border-bottom: 1px solid rgb(63, 63, 63);
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  object-fit: contain;
  max-height: 950px; 

}

.header-max-h {
  max-height: 780px;
  overflow: hidden;
}


.pixel-button {
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  color: #fff;
  background-color: #f00;
  padding: 16px;
  text-align: center;
  border: 8px solid #000;
  box-shadow: 4px 4px 0px #000;
  cursor: pointer;
  text-transform: uppercase;
  display: inline-block;
  user-select: none;
  transition: all 0.1s;
}

.pixel-button:active {
  box-shadow: 0 0 0 #000;
  transform: translate(4px, 4px);
}